*, ::after, ::before {
  box-sizing: border-box;
}
body{
    background:#EAEBED;
    color: #404040;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
header{
    align-items:center;
    background: #006989;
    color: #FFF;
    display:flex;
    height: 50px;;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;;
}
footer{
    align-items: center;
    background: #007090;
    color: #FFF;
    display: flex;
    height: 50px;
}
header section{
    display: flex;
    justify-content: space-between;
}
.header__boton{
    background: #95ca3e;
    border-radius: 4px;
    border: 2px solid #fff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    padding: 0;
    outline: #f00;
    transition: .3s;
    width: 175px;
}
.header__boton:hover{
    background: #80af35;
}
.header__boton:active{
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
    
}
.header__boton a{
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    padding: .4rem;
    text-decoration: none;
    width: 100%;
}
.header__boton i
{
    margin-left: 15px;
}
#boton{
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    left:30px;
    top: 1rem;
    width: 30px;
    z-index: 20;
}
#boton .botones{
    background: #202C39;
    height: 5px;
    margin: 5px 0;
    width: 100%;;
}
#boton .boton{
    content: "1";
}
#menu, #principal{
    height: calc(100vh - 100px); /*Se resta altura de header y footer*/
    padding: 1rem 30px;
}
#menu{
    background:#01A7C2;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    overflow: hidden;
    transition: width .6s ease-in;
    width: 33.3333%;
}
#menu__article
{
    opacity: 1;
    transition: .6s .2s;
    transform: translateX(0);
    width: 100%;
}
#menu__article ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu__article li{
    display: block;
}
#menu__article a{
    color: #FFF;
    display: block;
    font-size: 1.5rem;
    padding: 10px 0;
    text-decoration: none;
    transition: .4s;
    width: inherit;
}
#menu__article a:hover{
    transform: translateX(20px);
}
#principal{
    background:#EAEBED;
    width: 100%;
}
.sociales{
    background:transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    padding-right:30px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;;
}
.sociales__boton{
    box-shadow: 0 0 5px 5px red;
    border-radius: 50%;
    cursor: pointer;
    height: 45px;
    position: absolute;
    right: 30px;
    top: 50%;
    transition: .3s;
    transform: translateY(-50%);
    width: 45px;
}
.sociales__boton i{
    animation: social 10s linear 5s infinite;
    color: #222;
    font-size: 40px;
}
.sociales__art{
    height: 80px;;
}
.sociales__art:hover{
    height: initial;
}
.sociales__art:hover .sociales__boton{
    opacity:0;
}
.sociales__art:hover .redes{
    transform: translateX(0);
}
.sociales .redes{
    margin: 0;
    transform: translateX(100px);
    transition: .3s;
    width: 40px;
}
.sociales a{
    display: block;
    width: 100%;
}
.sociales img{
    display: block;
    height: auto;
    margin: 5px 0;
    max-width: 100%;
    object-fit: cover;
    opacity: .4;
    transition: .5s;
}
.sociales .redes img:hover
{
    animation: aparecer 1s linear;
    opacity: 1;
}
.footer__autor{
    display:flex;
    justify-content: flex-end;
}

/*CLASE*/
.container-fluid{
    padding-left:30px;
    padding-right: 30px;
    width: 100%;
}
.fila{
    display: flex;
    position: relative;
}
.ancho{
    width: 90px !important;
}
.desplazar{
    transform: translateX(-200px) !important;
}
.reset-x{
    transform: translateX(0) !important;
}

/*KEYFRAMES*/

@keyframes aparecer{
    20%
    {
        transform: rotate(80deg);
    }
    35%{
        transform: rotate(-60deg)
    }
    50%{
        transform: rotate(40deg);
    }
    65%{
        transform: rotate(-20deg);
    }
    85%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(0);
    }
}

@keyframes social{
    20%{
        color:#4267b2;
    }
    40%{
        color:#1da1f2;
    }
    60%{
        color:#5F60BD;
    }
    80%{
        color:#db4437;
    }
}